<div>
  <h2><%= @film.name %></h2>
  <%= image_tag(@film.image_url) %>
  <p>
    <strong>Category:</strong>
    <%= @film.category_name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @film.description %>
  </p>
</div>

<%= link_to 'Back', category_path(@film.category) %>

<% @film.reviews.each do |review| %>
  <div>
    <h3><%= review.stars %> stars</h3>
    <div>Review by: <%= review.user.full_name %></div>
    <p><%= review.content %></p>
    <p><%= link_to pluralize(review.comments.count, 'comment'), film_review_path(@film, review) %></p>
  </div>
<% end %>