<div>
  <h3><%= @review.stars %> stars</h3>
  <div>Review by: <%= @review.user.full_name %></div>
  <p><%= @review.content %></p>
</div>

<%= link_to 'Back', film_path(@review.film) %>

<h4>Comments</h4>

<% @review.comments.each do |comment| %>
  <div>
    <div><%= comment.user.full_name %> — <%= time_ago_in_words(comment.updated_at) %></div>
    <p><%= comment.content %></p>
  </div>
<% end %>
